<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<h4> Simple Login Page </h4>
</head>

<body>

	<h2 style="font-size:40px;">Welcome! Please log in.</h2>
	<a href="/auth/facebook">FB Login</a>

</body>

</html>
